<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni Chat</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<img src="assets/unichato.svg" alt="Uni Chato" class="logo">
<div class="container">

    <ul id="messages"></ul>
    <form id="form">
        <input id="username" type="text" placeholder="Nome" required>
        <input id="message" type="text" placeholder="Mensagen" required>
        <button type="submit">Send</button>
    </form>
    <script>
        const ws = new WebSocket("ws://localhost:8080/ws");

        ws.onmessage = function (event) {
            const msg = JSON.parse(event.data);
            const item = document.createElement("li");
            item.textContent = msg.username + ": " + msg.message;
            document.getElementById("messages").appendChild(item);

            // Rola para o final automaticamente sempre que uma nova mensagem chega
            messages.scrollTop = messages.scrollHeight;
        };

        document.getElementById("form").onsubmit = function (event) {
            event.preventDefault();
            const username = document.getElementById("username").value;
            const message = document.getElementById("message").value;
            ws.send(JSON.stringify({username, message}));
            document.getElementById("message").value = '';
        };
    </script>
</div>
</body>
</html>